@use "global" as *;

// .loader {
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     background-color: green;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     z-index: 9999; /* ローディング画面を最前面に表示 */
// }

// .line {
//     width: 0;
//     height: 2px;
//     background-color: white;
//     transform-origin: top;
//     position: absolute;
//     top: 50%;
//     left: 0;
// }

.loader{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
}

.loader__top{
    width: 100%;
    height: 50%;
    background: $green;
}

.loader__bottom{
    width: 100%;
    height: 50%;
    background: $green;
}

.loader__line{
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: rem(2);
    background: $white;
}

.loader__logo{
    width: rem(105);
    position: absolute;
    bottom: 10%;
    left: 10%;

    @include mq(md){
        width: rem(330);
    }

    img{
        width: 100%;
        height: 100%;
    }
}