@use "global" as *;

.world{
    background-image: url(../images/common/world-bg-sp.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: rem(40) 0;

    @include mq(md){
        background-image: url(../images/common/world-bg-pc.webp);

    }
}

.world__title{

    h2{
        text-transform: none;
    }
}

.world__inner{
    max-width: rem(630);
    width: 100%;
    padding: 0 rem(15);
    margin: auto;

    @include mq(md){
        max-width: rem(1130);
        padding: 0 rem(25);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.world__map{
    position: relative;
    margin-top: rem(40);

    @include mq(md){
        width: 76.1111111111%;
    }

    &:before{
        content: "";
        display: block;
        padding-top: 55.652173913%;

        @include mq(md){
            padding-top: 55.7177615572%;
        }
    }

    img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}